*{
    margin: 0 auto;
}
body{
    background-image: url(http://192.168.3.116/sistema/modules/login/img/fondo.png);
}
#form_login_espacio{
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #03F;
    width: 520px;
    min-height: 200px;
    color: #fff;
    opacity: 0.6;
    vertical-align: middle;
    border-radius: 10px;
    z-index: 2;
}
#form_login {
   
    display: block;
     margin: 0 auto;
     z-index: 3;
    
}
#form_login_div{
     padding: 10px;
    display: block;
    z-index: 1;
    border-radius: -10px;
}
#contenedor{
    padding-top: 10px;
    margin: 0 auto;
    height: auto;
    min-height: 200px;
    background-color: #fff; 
    opacity: 0.7;
}
.contenedor_a a{
    background-color: #010165;
    min-height: 50px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    padding: 15px;
}
.contenedor_a_hover a:hover {
    background-color: #fff;
    min-height: 50px;
    border-radius: 10px;
    color:  #010165;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: #010165;
}
footer{
    min-height: 30px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}